.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 8px;
    z-index: 10000;
}

.tagline{
    font-family: 'Pangolin', cursive;
    letter-spacing: 1.5px;
}

.tagline-mweb{
    display: none;
}

@media screen and (max-width: 600px) {
    .tagline {
      display: none;
    }
    .tagline-mweb{
        display: block;
    }
}