.go-top {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px #00796b;
    cursor: pointer;
    z-index: 10;
    background: white;
    img{
        margin: 10px;
    }
  }